@tailwind base;

@tailwind components;
/* purgecss start ignore */
html {
  font-size: 18px;
  @apply font-body;
}

body {
  @apply bg-white text-gray-900;
  @screen dark {
    @apply bg-gray-900 text-gray-300;
  }
}

.header {
  @apply border-gray-300;
  nav {
    a {
      &:hover {
        @apply bg-gray-100 text-malachite-800;
      }
    }
  }

  @screen dark {
    @apply border-gray-700;
    nav {
      a {
        &:hover {
          @apply bg-gray-800 text-malachite-600;
        }
      }
    }
  }

  #menu-toggle:checked + #menu {
    display: block;
  }
}

.footer {
  @apply text-gray-500 border-gray-300;

  @screen dark {
    @apply border-gray-700;
  }
}

.icon {
  @apply mx-1 text-xl;
  &:hover {
    @apply text-malachite-700;
  }
}

.card {
  @apply rounded border border-r-2 border-b-2 border-solid;

  @apply border-gray-400;
  h1 {
    @apply text-gray-900;
  }
  p {
    @apply text-gray-700;
  }
  &:hover {
    @apply border-malachite-500;
  }

  @screen dark {
    @apply border-gray-600;
    h1 {
      @apply text-gray-200;
    }
    p {
      @apply text-gray-400;
    }
    &:hover {
      @apply border-malachite-500;
    }
  }
}

.content {
  @apply text-gray-700 leading-relaxed;

  @screen dark {
    @apply text-gray-400;
  }

  h1 {
    @apply text-4xl mt-6 mb-4;
  }
  h2 {
    @apply text-3xl mt-5 mb-3;
  }
  h3 {
    @apply text-2xl mt-4 mb-3;
  }
  h4 {
    @apply text-xl mt-3 mb-3;
  }
  h5 {
    @apply text-lg mt-2 mb-2;
  }
  h6 {
    @apply text-base mt-1 mb-2;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-gray-900;
    @screen dark {
      @apply text-gray-200;
    }
  }

  p {
    @apply mb-4;
  }

  a {
    @apply text-malachite-900;
    &:hover {
      @apply text-malachite-700 underline;
    }

    @screen dark {
      @apply text-malachite-700;
      &:hover {
        @apply text-malachite-600 underline;
      }
    }
  }

  blockquote {
    @apply bg-gray-100 border-l-4 border-malachite-500 mx-0 mb-4 p-4;
    p {
      @apply my-2;
    }

    @screen dark {
      @apply bg-gray-800;
    }
  }

  li {
    p {
      @apply m-0;
    }
  }

  ol {
    @apply list-decimal list-outside px-0;

    &:not(:last-child) {
      @apply mb-4;
    }

    li {
      @apply ml-4;
    }
  }

  ul {
    @apply list-disc list-outside px-0;

    &:not(:last-child) {
      @apply mb-4;
    }

    li {
      @apply ml-4;
    }

    .task-list-item {
      @apply list-none ml-0;
      input {
        @apply mr-1;
      }
    }

    ul {
      list-style-type: circle;

      ul {
        list-style-type: square;
      }
    }
  }

  figure {
    @apply my-2;

    img {
      @apply inline-block;
    }

    figcaption {
      @apply text-center text-sm italic mt-2;
    }
  }
  sup,
  sub {
    @apply text-sm;
  }

  table {
    @apply w-full mb-4;

    td,
    th {
      @apply align-top p-2 border-b;
    }
    th {
      &:not([align]) {
        @apply text-left;
      }
    }

    thead {
      td,
      th {
        @apply border-b-2;
      }
    }

    tfoot {
      td,
      th {
        @apply border-b;
      }
    }

    tbody {
      tr {
        td,
        th {
          @apply border-b;
        }
      }
    }
  }

  hr {
    @apply my-6 border border-gray-500;
  }
}

.footnotes {
  ol {
    @apply ml-0 px-0;
  }
}

.tag {
  @apply border-gray-400 text-malachite-700;
  &:hover {
    @apply border-malachite-500;
  }
  @screen dark {
    @apply border-gray-600 text-malachite-700;
    &:hover {
      @apply border-malachite-500;
    }
  }
}

.button {
  @apply border-gray-400 text-malachite-700;
  &:hover {
    @apply border-malachite-500;
  }
  @screen dark {
    @apply border-gray-600 text-malachite-700;
    &:hover {
      @apply border-malachite-500;
    }
  }
}

/* purgecss end ignore */
@tailwind utilities;
